
<h3>ThemeEditor</h3>

<MudButton Variant="Variant.Filled" OnClick="ChangeTheme">Change Theme</MudButton>
<MudButton Variant="Variant.Filled" OnClick="DefaultTheme">Default Theme</MudButton>

@code {
    [Parameter]
    public MudTheme? Theme
    {
        get {
            return _theme;
        }
        set
        {
            if (value is null) return;
            if (_theme == value) return;
            _theme = value;
            ThemeChanged.InvokeAsync(value);
        }
    } 
    [Parameter]
    public EventCallback<MudTheme> ThemeChanged { get; set; }

    private MudTheme _theme=new MudTheme();
    void DefaultTheme()
    {
        Theme = new MudTheme();
        StateHasChanged();
    }

    void ChangeTheme(){
        Theme = new MudTheme()
            {
                PaletteLight = new PaletteLight()
                {
                    AppbarBackground = new MudBlazor.Utilities.MudColor("#003D59"),
                    Primary = new MudBlazor.Utilities.MudColor("#003D59"),
                    Secondary = new MudBlazor.Utilities.MudColor("#013243"),
                },
                PaletteDark = new PaletteDark()
                {
                    AppbarBackground = new MudBlazor.Utilities.MudColor("#1DACD6"),
                    Primary = new MudBlazor.Utilities.MudColor("#1DACD6"),
                    Secondary = new MudBlazor.Utilities.MudColor("#48D1CC"),
                }
            };
            StateHasChanged();
    }
}
