@using BlazorServerTemplate.Data
@inject ApplicationDbContext context
@inject NavigationManager Nav
<h3>QuantityCreator</h3>

<MudStepper NonLinear ShowResetButton Ripple="Ripple">
    <MudStep Title="Select Quantity">

        <MudComboBox @bind-Value="quantity" @bind-Text="quantity" Variant="Variant.Outlined" Label="Select quantity" Editable="true" Disabled="false" ReadOnly="false" MultiSelection="false"
                     Clearable="true">

            @foreach (var quantityname in Quantity.Names)
            {
                <MudComboBoxItem Value="@quantityname">@quantityname</MudComboBoxItem>
            }
        </MudComboBox>
    </MudStep>
    <MudStep Title="Select Unit">

        <MudComboBox @bind-Value="unit" Variant="Variant.Outlined" Label="Select unit" Editable="true" Disabled="false" ReadOnly="false" MultiSelection="false"
                     Clearable="true">

            @foreach (var unitname in _quantity.UnitInfos)
            {
                <MudComboBoxItem Value="unitname.Name">@unitname.Name</MudComboBoxItem>
            }
        </MudComboBox>
    </MudStep>
    <MudStep Title="Mapping" SecondaryText="Value range mapper">
        <MudNumericField Label="Min Value" @bind-Value="minvalue" />
        <MudNumericField Label="Max Value" @bind-Value="maxvalue" />
        <MudNumericField Label="Test value" @bind-Value="test" />
        <p>Quantity: @testvalue  </p>
        <MudButton OnClick="SaveToDatabase" Variant="Variant.Filled">Save</MudButton>
    </MudStep>
</MudStepper>


@code {
    private QuantityInfo _quantity = default!;
    private UnitInfo _unit = default!;
    private double minvalue = 0;
    private double maxvalue = 100;
    private double _test = 50;
    private IQuantity? testvalue;
    private double test
    {
        get { return _test; }
        set
        {
            if (Quantity.TryFrom(value, _unit.Value, out IQuantity? unitinfo))
            {
                testvalue = unitinfo;
            };
            _test = value;
        }
    }
    private string quantity
    {
        get
        {
            if (_quantity is null) return string.Empty;
            return _quantity.Name;
        }
        set
        {
            if (!string.IsNullOrEmpty(value))
            {
                _quantity = Quantity.ByName[value];
            }
            else
            { _quantity = default!; }
        }
    }
    private string unit
    {
        get
        {
            if (_unit is null) return string.Empty;
            return _unit.Name;
        }
        set
        {
            if (!string.IsNullOrEmpty(value) && _quantity is not null)
            {
                var unitinfos = _quantity.UnitInfos;
                _unit = unitinfos.FirstOrDefault(x => x.Name == value) ?? default!;
            }
        }
    }
    private async void SaveToDatabase()
    {
        var result = await context.AddQuantityMappingAsync(new QuantityMappingRecord(_test, _quantity.Name, _unit.Name, minvalue, maxvalue, string.Empty));
        if (result.IsSuccess)
        {
            Nav.NavigateTo("/units", forceLoad: true);
        }
    }
}
